html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.vr {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px);
}

#scene {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0B6790, #14364A);
}

.world {
  transform: translate3d(-50%, -50%, -30cm);
}

.viewport {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.viewport.fullscreen .camera {
  transform: translate3d(-50%, -50%, 0);
}

.fullscreen-button {
  position: absolute;
  top: 0px;
  left: 0px;
}
