.button {
  color: #FFF;
  width: 250px;
  height: 250px;
  background-color: #0480D1;
  font-size: 24pt;
  padding: 15px;
  text-align: center;
}

.left {
  transform: translate3d(-50%, -50%, 0px) translate3d(-400px, 0, 0);
}

.right {
  transform: translate3d(-50%, -50%, 0px) translate3d(400px, 0, 0);
}
